@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo{
    width: 50%;
    height: 100vh;
    background-color: #5E64C3;
    align-items: center;
    justify-content: center;
    display: flex;
}

.form{
    display:  flex;
    width: 50%;
    height: 100vh;
    background-color: #F9F7F7;
    justify-content: center;
    align-items: center;
}

.img_logo{
    width: 50%;
}

.form_t{

}

input[type = text]{
    background-color: #E0ECF9;
    border: none;
    height: 40px;
    border-radius: 10px;
    width: 300px;
    padding-left: 20px;
}

input[type = submit]{
    background-color: #5E64C3;
    border: none;
    height: 40px;
    border-radius: 5px;
    width: 300px;
    padding: 5px;
    font-size: 25px;
    color: #E0ECF9;
}

form{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-bottom: 30px;
}

.input_check{
    display: flex;
    width: 100%;
    justify-content: space-between;
}



*{
    font-family: 'Roboto', sans-serif;
}